#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.red.close {
  background-image: url(img/Uncial-simplified.png);
  background-size: contain;
}
.blue.close {
  background-image: url(img/Uncial-simplified.png);
  background-size: contain;
}
.green.close {
  background-image: url(img/Uncial-simplified.png);
  background-size: contain;
}
.orange.close {
  background-image: url(img/Uncial-simplified.png);
  background-size: contain;
}
.purple.close {
  background-image: url(img/Uncial-simplified.png);
  background-size: contain;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}

body {
  background-color: rgb(231, 204, 168);
}

h1 {
  font-size: 50px;
  font-family: Montserrat;
}

.inner-text {
  font-size: 15px;
  font-family: IBM Plex Sans;
  font-weight: 500;
}